<div data-ng-app="app">
    <div data-ng-view>

    </div>

</div>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/App/Scripts/_01main.js"></script>
<script src="~/App/Scripts/_02routes.js"></script>
<script src="~/App/Scripts/_03ngHomeController.js"></script>
<script src="~/App/Scripts/_04ngArtworkController.js"></script>
<script src="~/App/Scripts/_05ngDetailController.js"></script>
<script src="~/App/Scripts/_06ngAddArtworkController.js"></script>
<script src="~/App/Scripts/_07ngEditArtworkController.js"></script>